@charset "utf-8";
.container header {
	background-color: #3B2A08;
}
.container header nav {
	background-color: #3B2A08;
}
.container #hero {







	background-position: 50px
%;
	background-image: url(images/%E7%85%A7%E7%89%87.jpg);
	background-clip: border-box;
	-webkit-box-shadow: 0px 0px;
	box-shadow: 0px 0px;
	color: #FFFFF0;
	background-position: 57% 59%;
	text-align: center;
	font-weight: 300;
	font-size: 36px;
	font-family: "標楷體";
	border-style: none;
	text-decoration: blink;
	font-variant: normal;
	background-repeat: no-repeat;
	background-size: 1300px 845px;
}
.container #contact .button {
	background-color: #FFFFFF;
}
